
@{
    ViewBag.Title = "Join the Fryer's Club";
}

<div class="jumbotron img-responsive" style="background-image:url(../../Images/Fries_1000.jpg)">
    <div class="container-fluid row img-rounded" style="background-color:rgba(218, 165, 32, 0.75)">
        <h2>@ViewBag.Title</h2>
        <h4>Sign up for our Fryer's Club to get exclusive Fry Guys deals and benefits!</h4>

        <div>
            <h4>Benefits:</h4>
            <ul>
                <li>10% off all fries</li>
                <li>20% off all non-fry items (excluding alcohol)</li>
                <li>Free order of fries on your birthday</li>
                <li>Exclusive Fryer's Club hat</li>
            </ul>
        </div>

        <h4>So what are you waiting for? Sign up now!</h4>
        <p><a class="btn btn-default" href="/Home/Register">Register &raquo;</a></p>
    </div>
</div>



