
@{
    ViewBag.Title = "Join the Fryer's Club";
}

<h2>@ViewBag.Title</h2>
<h4>Sign up for our Fryer's Club to get exclusive Fry Guys deals and benefits!</h4>

<div>
    <h4>Benefits:</h4>
    <ul>
        <li>10% off all fries</li>
        <li>20% off all non-fry items (exlcuding alcohol)</li>
        <li>Free order of fries on your birthday</li>
        <li>Exclusive Fryer's Club hat</li>
    </ul>
</div>

<h4>So what are you waiting for? Sign up now!</h4>
<p><a class="btn btn-default" href="Register">Register &raquo;</a></p>



