
@{
    ViewBag.Title = "Add User";
}
<div class="container-fluid img-rounded" style="background-color:rgba(150, 150, 150, 0.95)">
    <h2>Add User</h2>

    <form action="~/Admin/SaveNewUser/" method="post">
        <input type="hidden" name="UserID" />
        <label>First Name:</label>
        <input type="text" name="FirstName" placeholder="First Name" id="firstName" required /> <br />
        <label>Last Name:</label>
        <input type="text" name="LastName" placeholder="Last Name" id="lastName" required /> <br />
        <label>Age:</label>
        <input type="number" name="Age" placeholder="Age" required /> <br />
        <label>Birthday:</label>
        <input type="date" name="Birthday" required /> <br />
        <label>Phone Number:</label>
        <input type="text" name="Phone" placeholder="xxx-xxx-xxxx" id="phone" /> <br />
        <lable>Gender:</lable> <br />
        <label>Male</label>
        <input type="radio" name="Gender" value="Male" required /> <br />
        <label>Female</label>
        <input type="radio" name="Gender" value="Female" /> <br />
        <label>Other</label>
        <input type="radio" name="Gender" value="Other" /> <br />
        <label>Prefer not to answer</label>
        <input type="radio" name="Gender" value="Prefer not to answer" /> <br />
        <label>Username:</label>
        <input type="text" name="Username" placeholder="Username" /> <br />
        <label>Email Address:</label>
        <input type="text" name="Email" id="email" placeholder="Email address" /> <br />
        <label>Get promo emails?</label>
        <input type="checkbox" name="GetEmail" id="getEmail" value="true" checked /> <br />
        <label>Password:</label>
        <input type="text" name="Password" id="password" placeholder="Password" /> <br />

        <input type="submit" class="btn-info" />
    </form>
</div>

