@model FryGuys.Models.User

@{
    ViewBag.Title = "Confirm";
}

<div class="container-fluid img-rounded" style="background-color:rgba(150, 150, 150, 0.95)">

    <h2>Confirm</h2>

    @Model.FirstName @Model.LastName
</div>