
@{
    ViewBag.Title = "Admin Main";
}

<h2>Administration Main</h2>

<div>
    <a href="~/Admin/ViewUsers/" class="btn-default">View Users</a>
    <a href="~/Admin/ViewOrders/" class="btn-default">View Orders</a>
</div>


