
@{
    ViewBag.Title = "Admin Main";
}

<h2 class="text-center" style="background-color:rgba(150, 150, 150, 0.95)">Administration Main</h2>

<div class="container-fluid img-rounded" style="background-color:rgba(150, 150, 150, 0.95)">
    <a href="~/Admin/ViewUsers/" class="btn-default">View Users</a>
    <a href="~/Admin/ViewOrders/" class="btn-default">View Orders</a>
</div>


